
.home {
  display: grid;
  grid-template-columns: 3fr 5fr;
  // border: 1px solid black;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-collapse: collapse;
}

.menu-item  {
  background: #eeee;
  display: flex;
  justify-content: space-evenly;
  padding: 2vw 0;
  width: 98%;
  transition: 0.5s;
  border: 1px solid black;
  font-variant: small-caps;
  color: darkBlue;
  cursor: pointer;
  &:hover {
    background-color: #ec62c3;
    color: black;
    font-weight: bold;
  }
}

.information {
  background: #eeee;
}
