.collection-deets {
  padding-bottom: 6px;
  margin: 10px;
}

#item-container {
  background: grey;
  h3 {
    margin-top: 11px;
    margin-left: 10px;
  }
}

.item-container{
  border: 1px solid grey;
  background: grey;
}

.item-form{
  background: #eeee;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  #item-form{
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    grid-template-columns: 2fr 2fr 1fr;
    margin: 0;
  }
}

#label {
  font-weight: bold;
}

.item-header {
  background: #eeee;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.item-li {
  background: grey;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  padding: 2vw 0;
  max-width: 100%;
  transition: 0.5s;
  border-bottom: 1px solid #262626;
  cursor: pointer;
  &:hover {
    background-color: #262626;
    color: white;
  }
  #item-title {
    margin: 0;
    margin-left: 30px;
  }
}
