.header{
  background-color: grey;
  max-width: 100%;
  padding: 1vw;
  width: 100%;
  display: flex;
}

.logo-img {
  height: 6rem;
  width: 6rem;
}

#title {
  font-size: 45px;
  width: 100%;
  text-align: center;
}

nav{
   background-color: #eee;
   width: 100%;
   display: flex;
   justify-content: space-around;
   padding: 1vw;
   color: black;
   a {
    text-decoration: none;
    color: black;
  }
}



h5 {
  margin: 0;
  margin-bottom: 5px;
}
//WITHIN PROFILE
.page-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  border: 1px solid black;
  padding: 1vw;
}



.item-container{
  border: 1px solid grey;
  background: grey;
}



.add-item-form{
  display: flex;
  justify-content: space-evenly;
  padding: 1vw 0;
  // transition: 0.5s;
  background-color: #eee;
}

.item-header {
  display: flex;
  justify-content: space-evenly;
}

#label {
  font-weight: bold;
}



//CSS is all Mazen. Thanks Mazen
